[submodule "ch32v305/ch32v305/lib/tinyusb"]
	path = ch32v305/ch32v305/lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "ch32v305/lib/tinyusb"]
	path = ch32v305/lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
